<div class="container">


  <h2>All Projects</h2>
  <table class="project-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Project Name</th>
        <th>Tasks</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects; let i = index">
        <!-- <td>{{ project.id }}</td> -->
          <td>{{ i + 1 }}</td>
        <td>{{ project.name }}</td>
        <td>
          <ul class="task-list">
            <li *ngFor="let task of project.tasks">{{ task.name }}</li>
          </ul>
        </td>
        <td>
          <button (click)="openModal(project)" class="edit-btn"> Edit</button>
          <button (click)="deleteProject(project.id!)" class="delete-btn"> Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Assign Task to Project</h3>
  <div class="form">
   <select [(ngModel)]="selectedTaskId" name="taskId">
  <option [value]="null" disabled selected>Select Task</option>
  <option *ngFor="let task of tasks" [value]="task.id">{{ task.name }}</option>
</select>

    <select [(ngModel)]="selectedProjectIdForAssignment" name="projectId">
      <option [value]="null" disabled selected>Select Project</option>
      <option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</option>
    </select>

    <button (click)="assignTaskToProject()">Assign</button>
  </div>

  <div class="modal-overlay" *ngIf="showEditModal">
  <div class="modal">
    <h3>Edit Project</h3>
    <input [(ngModel)]="editedProjectName" placeholder="Enter new project name" />

    <div class="modal-actions">
      <button (click)="saveEdit()" class="save-btn btn btn-sucess mx-2"> Save</button>
      <button (click)="closeModal()" class="cancel-btn btn btn-denger"> Cancel</button>
    </div>
  </div>
</div>
